terseurl.com {
    route {
        authelia https://authelia.terseurl.com/api/verify https://terseurl.com
        reverse_proxy http://secure:80
    }
}

authelia.terseurl.com {
    reverse_proxy http://authelia:9091
}
