localhost {
    route {
        authelia https://authelia.localhost:9091/api/verify 100000000000000000
        reverse_proxy http://secure:80
    }
}

authelia.localhost {
    reverse_proxy http://authelina:9091
}
